extends layout

block content
  if passwordDoNotMatch
    div(class="error") Password don't match bro
  if wrongPassword
    div(class="error") Wrong old password
  form(id="change-password" method="POST")
    div(class="old-password")
      span old password
      input(name="old-password" type="password" required)
    div(class="new-password")
      span new password
      input(name="new-password" type="password" minlength=6 required)
    div(class="confirm-new-password")
      span confirm new password
      input(name="confirm-new-password" type="password" minlength=6 required)
    button(submit=true) Change password
