extends layout

block content
  h1 Find a word
  if invalidLogin
    div(class="error") Email or password invalid.
  if noPassword
    div(class="error") Enter a password man.

  form(id='word-form' method="GET")
    div(class="word")
      span word
      input(name="q", type="text" value="#{q}")
    button(submit=true) Find Synonyms!

  if results
    div
      each val in results
        span(class="found")= val
  if noResults
    div no results found for the word '#{q}' :c

  a(href="changepassword") Change password
  br
  a(href="dictionary") Dictionary
  br
  a(href="logout") Logout
